input[type="submit"],button {
  width: 90px;
  height: 42px;
  background-color: #4468e8;
  color: white;
  border: solid 1px #4468e8;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
}

.buttonDetailed {
  background-color: #677db7;
  border: solid 1px #4b5b85;
}

article {
  margin: 10px;
}

article > p {
  color: #202845;
  font-size: 18pt;
}

article> p:first-of-type {
  font-weight: bold;
  font-size: 22pt;
}

img {
  aspect-ratio: 16/9;
  height: auto;
  border-radius: 5pt;
}