<form (ngSubmit)="
searchHousingLocations(search.value);
selectResultsHousingLocations(results)">
  <label for="location-search">Search for a new place</label>
  <input id="location-search" placeholder="Ex: Chicago" #search>
  <input type="submit" value="Search">
</form>

<article  *ngIf="results.length!==0; else NotFound">
  <app-housing-list-card *ngFor="let locations of results" [searchedLocations]="locations"></app-housing-list-card>
</article>
<ng-template #NotFound>Not Found</ng-template>
