<form (ngSubmit)="
searchHousingLocations(search.value);
selectResultsHousingLocations(results)">
  <label for="location-search">Search for a new place</label>
  <input id="location-search" placeholder="Ex: Chicago" #search>
  <input type="submit" value="Search">
</form>
<article *ngIf="results.length!==0; else NotFound">
  <article *ngFor="let location of results">
    <p>{{location.name}}</p>
    <button (click)="
    selectHousingLocations(location);
      viewDetailsHousingLocations(detailHouses);
        detailHouses = !detailHouses;">
 <!-- !TODO Обновлять не каждый элемент -->     {{ !detailHouses ? 'Hide' : 'Show'}} View
    </button>
  </article>
</article>
<ng-template #NotFound>Not Found</ng-template>