<router-outlet>
  <main>
    <header><img src="assets/logo.svg" alt="Fairhouse logo"></header>
    <section>
      <app-housing-list
        (searchResultsEvent)="updateSearchResultsLocations($event)">
      </app-housing-list>
      <article>
        <ng-container *ngIf="detailsHousingLocations && selectedLocation && searchResults?.length">
          <img [src]="selectedLocation.photo">
          <p>{{selectedLocation.name}}</p>
          <p>{{selectedLocation.availableUnits}}</p>
          <p>{{selectedLocation.city}}, {{selectedLocation.state}}</p>
          <p>{{selectedLocation.laundry ? "Has laundry" : "Does Not have laundry"}}</p>
          <p>{{selectedLocation.wifi ? "Has wifi" : "Does Not have wifi"}}</p>
        </ng-container>
      </article>
    </section>
    </main>
  </router-outlet>